
@{
    ViewBag.Title = "ErrorValidation";
}
<div>
    <nav>
        <a class="navlink" href="/Teacher/List">
            Back to Teachers
        </a>
        <h2>ErrorValidation</h2>
        <p>
            @TempData["error"]
        </p>
    </nav>
</div>

