@model n01458860CumulativePart1.Models.Teacher
@{
    ViewBag.Title = "Search";
}

<h2>Teacher information:</h2>
<p>Name: @Model.name</p>
<p>Hire date: @Model.hiredate</p>
<p>Salary: @Model.salary</p>
